section.page-play
    p
        a(href="/") < Back to start screen

    p.alert(data-hook="message")

    #gameGrid.gameGrid.active-nought
        each row, yPos in gameGrid
            .gameRow
                each field, xPos in row
                    .gameCell.is-empty(data-ypos=yPos, data-xpos=xPos)


    p.text-center
        button#newGame.btn.btn-primary New Game

    table.table.table-bordered
        thead
            tr
                th= player0.name
                th Draws
                th= player1.name
        tbody
            tr
                td(data-hook="score-player0")= player0.score
                td(data-hook="draw-count")= drawCount
                td(data-hook="score-player1")= player1.score