section.page-play
    a(href="/") < Back to start screen

    p.alert(data-hook="message")

    #gameGrid.gameGrid.active-nought
        each row, yPos in gameGrid
            .gameRow
                each field, xPos in row
                    .gameCell.is-empty(data-ypos=yPos, data-xpos=xPos)


    table.table.table-bordered
        thead
            tr
                th= player0.name
                th Draws
                th= player1.name
        tbody
            tr
                td= player0.score
                td 0
                td= player1.score